<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <div mat-card-avatar class="auth-avatar">
        <mat-icon class="avatar-icon">lock_open</mat-icon>
      </div>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            required
            [type]="hide ? 'password' : 'text'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="hide ? 'Show password' : 'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          class="full-width green-button"
          type="submit"
        >
          Login
        </button>

        <!-- Display error message under the login button -->
        <div *ngIf="loginError" class="error-message">
          {{ errorMessage }}
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="auth-actions">
      <p>
        Don't have an account?
        <a routerLink="/register">Register here</a>
      </p>
    </mat-card-actions>

  </mat-card>
</div>
